.chat-wrapper {
    max-width: 1024px;
    width: 100%;
}

.chat-inner {
    height: 380px;
}

.chat-form {
    background-image: url('../../public/assets/images/chat-bg.jpeg');
    background-size: 100%;
    background-position: 100% 10%;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}

@media (max-width: 1023px) {
    .chat-inner {
        height: auto;
    }
}